@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .name {
    @apply text-2xl font-medium;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  @apply text-3xl font-medium;
}

h3 {
  @apply font-medium lg:text-2xl;
}

h6 {
  @apply text-sm font-medium;
}

dialog {
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

dialog::backdrop {
  opacity: 0;
}

ul,
ol {
  @apply my-2 list-disc pl-5;
}

ol {
  @apply list-decimal;
}

ul ul,
ol ul,
ul ol,
ol ol {
  @apply my-2;
}

li {
  @apply my-2;
}

.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline decoration-neutral-400 decoration-[0.1em] underline-offset-2 transition-all dark:decoration-neutral-600;
}

.prose .anchor::after {
  @apply text-neutral-300 dark:text-neutral-700;

  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply overflow-x-auto rounded-lg border border-neutral-200 bg-neutral-50 px-3 py-2 text-sm dark:border-neutral-900 dark:bg-neutral-900;
}

.prose code {
  @apply rounded-lg px-1 py-0.5;
}

.prose pre code {
  @apply p-0;

  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply mb-2 mt-6 text-4xl font-medium tracking-tight;
}

.prose h2 {
  @apply mb-2 mt-6 text-xl font-medium tracking-tight;
}

.prose h3 {
  @apply mb-2 mt-6 text-xl font-medium tracking-tight;
}

.prose h4 {
  @apply mb-2 mt-6 text-lg font-medium tracking-tight;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
